body {
	font-family: "Jost", sans-serif;
	color: #444444;
	background-color: #434242;
  }
 
h1{
	text-align: center;
	font-family: "Jost", sans-serif;
	color:white;
	/*ketebalan font*/
	font-weight: 600;
	margin-top: 30px;
}

h2,h3,h4{
	text-align: center;
	font-family: "Jost", sans-serif;
	/*ketebalan font*/
	font-weight: 600;
}
 
.tulisan_login{
	text-align: center;
	font-size: 16pt;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_login{
	border-radius: 25px;
	width: 500px;
	background: #f3f5fa;
	/*meletakkan form ke tengah*/
	margin: 50px auto;
	padding: 30px 20px;
}


 
label{
	font-size: 11pt;
	font-family: "Jost", sans-serif;
}
 
.form_login{
	/*membuat lebar form penuh*/
	border-radius: 10px;
	box-sizing : border-bo;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
.form_data{
	/*membuat lebar form penuh*/
	border-radius: 10px;
	box-sizing : border-box;
	width: 100%;
	height: 100px;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	border-radius: 30px;
	background: #22A39F;
	color: white;
	font-size: 12pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	font-family: "Jost", sans-serif;
	font-style: bold;
}

.tombol_back{
	border-radius: 30px;
	background: #e44747;
	color: white;
	font-size: 12pt;
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-family: "Jost", sans-serif;
	font-style: bold;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
 
.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}